@{
    ViewBag.Title = "E Class Book";
}

@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/styles/styles.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    @*<link href="~/lib/css/alertify.default.css" rel="stylesheet" />*@
}

<div id="nav-separator"></div>
<eclassbook-app>
    <div class="loading">Loading</div>
</eclassbook-app>

@section scripts
{
    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
}

@section customScript
{
    System.import('app').catch(console.log.bind(console));
    $(document).ready(function() {
    $('.fancybox').fancybox();
    });
}