<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                The project is a <a href="http://mail.netcoms.eu" target="_blank">Venelin Petkov</a>'s genuine contribution and distributed under MIT licence
            </div>
        </div>
    </div>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; <a href="http://mail.netcoms.eu" target="_blank">Venelin Petkov</a> 2017</p>
            </div>
        </div>
    </footer>

</div>