<div class="container">
    <div class="row" *ngIf="isUserLoggedIn()">
        <div class="col-lg-12">
            <div class="well text-center">
                <h3>Hello</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                The project is a <a href="http://mail.netcoms.eu" target="_blank">Venelin Petkov</a>'s genuine contribution and distributed under MIT license
            </div>
        </div>
    </div>

    <footer>
        <div class="panel panel-default">
            <div class="panel-body col-lg-12">
                <p>Copyright &copy; <a href="http://mail.netcoms.eu" target="_blank">Venelin Petkov</a> 2017</p>
            </div>
            <!--<div class="pull-right">
                <a href="http://wp.me/p3mRWu-11L" target="_blank"><i class="fa fa-info fa-fw"></i>&nbsp;About</a>
            </div>-->
        </div>
    </footer>

</div>